/**************************************************
.aos
**************************************************/

// Generate Duration && Delay
[data-aos] {
	@for $i from 1 through 60 {
		body[data-aos-duration="#{$i * 50}"] &,
		&[data-aos][data-aos-duration="#{$i * 50}"] {
			transition-duration: #{$i * 50}ms;
		}

		body[data-aos-delay="#{$i * 50}"] &,
		&[data-aos][data-aos-delay="#{$i * 50}"] {
			transition-delay: 0s;

			&.aos-animate {
				transition-delay: #{$i * 50}ms;
			}
		}
	}
}

[data-aos] {
	pointer-events: none;
	&.aos-animate {
		pointer-events: auto;
	}
}

$aos-easing: (
	linear: cubic-bezier(0.25, 0.25, 0.75, 0.75),
	ease: cubic-bezier(0.25, 0.1, 0.25, 1),
	ease-in: cubic-bezier(0.42, 0, 1, 1),
	ease-out: cubic-bezier(0, 0, 0.58, 1),
	ease-in-out: cubic-bezier(0.42, 0, 0.58, 1),
	ease-in-back: cubic-bezier(0.6, -0.28, 0.735, 0.045),
	ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275),
	ease-in-out-back: cubic-bezier(0.68, -0.55, 0.265, 1.55),
	ease-in-sine: cubic-bezier(0.47, 0, 0.745, 0.715),
	ease-out-sine: cubic-bezier(0.39, 0.575, 0.565, 1),
	ease-in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95),
	ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53),
	ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94),
	ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955),
	ease-in-cubic: cubic-bezier(0.55, 0.085, 0.68, 0.53),
	ease-out-cubic: cubic-bezier(0.25, 0.46, 0.45, 0.94),
	ease-in-out-cubic: cubic-bezier(0.455, 0.03, 0.515, 0.955),
	ease-in-quart: cubic-bezier(0.55, 0.085, 0.68, 0.53),
	ease-out-quart: cubic-bezier(0.25, 0.46, 0.45, 0.94),
	ease-in-out-quart: cubic-bezier(0.455, 0.03, 0.515, 0.955)
);

// Easings implementations
// Default timing function: 'ease'

[data-aos] {
	@each $key, $val in $aos-easing {
		body[data-aos-easing="#{$key}"] &,
		&[data-aos][data-aos-easing="#{$key}"] {
			transition-timing-function: $val;
		}
	}
}

// Animations variables
$aos-distance: 100px !default;

@media screen {
	html:not(.no-js) {
		/**
    * Fade animations:
    * fade
    * fade-up, fade-down, fade-left, fade-right
    * fade-up-right, fade-up-left, fade-down-right, fade-down-left
    */

		[data-aos^="fade"][data-aos^="fade"] {
			opacity: 0;
			transition-property: opacity, transform;

			&.aos-animate {
				opacity: 1;
				transform: none;
			}
		}

		[data-aos="fade-up"] {
			transform: translate3d(0, $aos-distance, 0);
		}

		[data-aos="fade-down"] {
			transform: translate3d(0, -$aos-distance, 0);
		}

		[data-aos="fade-right"] {
			transform: translate3d(-$aos-distance, 0, 0);
		}

		[data-aos="fade-left"] {
			transform: translate3d($aos-distance, 0, 0);
		}

		[data-aos="fade-up-right"] {
			transform: translate3d(-$aos-distance, $aos-distance, 0);
		}

		[data-aos="fade-up-left"] {
			transform: translate3d($aos-distance, $aos-distance, 0);
		}

		[data-aos="fade-down-right"] {
			transform: translate3d(-$aos-distance, -$aos-distance, 0);
		}

		[data-aos="fade-down-left"] {
			transform: translate3d($aos-distance, -$aos-distance, 0);
		}

		/**
    * Zoom animations:
    * zoom-in, zoom-in-up, zoom-in-down, zoom-in-left, zoom-in-right
    * zoom-out, zoom-out-up, zoom-out-down, zoom-out-left, zoom-out-right
    */

		[data-aos^="zoom"][data-aos^="zoom"] {
			opacity: 0;
			transition-property: opacity, transform;

			&.aos-animate {
				opacity: 1;
				transform: translate3d(0, 0, 0) scale(1);
			}
		}

		[data-aos="zoom-in"] {
			transform: scale(0.6);
		}

		[data-aos="zoom-in-up"] {
			transform: translate3d(0, $aos-distance, 0) scale(0.6);
		}

		[data-aos="zoom-in-down"] {
			transform: translate3d(0, -$aos-distance, 0) scale(0.6);
		}

		[data-aos="zoom-in-right"] {
			transform: translate3d(-$aos-distance, 0, 0) scale(0.6);
		}

		[data-aos="zoom-in-left"] {
			transform: translate3d($aos-distance, 0, 0) scale(0.6);
		}

		[data-aos="zoom-out"] {
			transform: scale(1.2);
		}

		[data-aos="zoom-out-up"] {
			transform: translate3d(0, $aos-distance, 0) scale(1.2);
		}

		[data-aos="zoom-out-down"] {
			transform: translate3d(0, -$aos-distance, 0) scale(1.2);
		}

		[data-aos="zoom-out-right"] {
			transform: translate3d(-$aos-distance, 0, 0) scale(1.2);
		}

		[data-aos="zoom-out-left"] {
			transform: translate3d($aos-distance, 0, 0) scale(1.2);
		}

		/**
    * Slide animations
    */

		[data-aos^="slide"][data-aos^="slide"] {
			transition-property: transform;
			visibility: hidden;

			&.aos-animate {
				visibility: visible;
				transform: translate3d(0, 0, 0);
			}
		}

		[data-aos="slide-up"] {
			transform: translate3d(0, 100%, 0);
		}

		[data-aos="slide-down"] {
			transform: translate3d(0, -100%, 0);
		}

		[data-aos="slide-right"] {
			transform: translate3d(-100%, 0, 0);
		}

		[data-aos="slide-left"] {
			transform: translate3d(100%, 0, 0);
		}

		/**
    * Flip animations:
    * flip-left, flip-right, flip-up, flip-down
    */

		[data-aos^="flip"][data-aos^="flip"] {
			backface-visibility: hidden;
			transition-property: transform;
		}

		[data-aos="flip-left"] {
			transform: perspective(2500px) rotateY(-100deg);
			&.aos-animate {
				transform: perspective(2500px) rotateY(0);
			}
		}

		[data-aos="flip-right"] {
			transform: perspective(2500px) rotateY(100deg);
			&.aos-animate {
				transform: perspective(2500px) rotateY(0);
			}
		}

		[data-aos="flip-up"] {
			transform: perspective(2500px) rotateX(-100deg);
			&.aos-animate {
				transform: perspective(2500px) rotateX(0);
			}
		}

		[data-aos="flip-down"] {
			transform: perspective(2500px) rotateX(100deg);
			&.aos-animate {
				transform: perspective(2500px) rotateX(0);
			}
		}
	}
}
