/**************************************************
text
**************************************************/

// $sizes:
.tt-u {
	text-transform: uppercase;
}

.tt-c {
	text-transform: capitalize;
}

.tt-l {
	text-transform: lowercase;
}

.first-letter-u::first-letter {
	text-transform: uppercase;
}

a {
	text-decoration: none;

	&:hover {
		color: inherit;
		text-decoration: none;
	}
}

ul,
ol,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.w-initilal {
	width: initial !important;
	margin: 0;
}

.w-min {
	width: min-content;
}

.w-fit {
	width: fit-content;
}

.w-max {
	width: max-content;
}

.w-0p {
	width: 0%;
}

.w-5p {
	width: 5%;
}

.w-10p {
	width: 10%;
}

.w-15p {
	width: 15%;
}

.w-20p {
	width: 20%;
}

.w-25p {
	width: 25%;
}

.w-30p {
	width: 30%;
}

.w-33p {
	width: 33.33%;
}

.w-50p {
	width: 50%;
}

.w-67p {
	width: 66.66%;
}

.w-75p {
	width: 75%;
}

.w-100p {
	width: 100%;
}

.pointer {
	cursor: pointer;
}

.db {
	display: block;
}

.di {
	display: inline;
}

.dib {
	display: inline-block;
}

.h-100 {
	height: 100%;
}

.minh-100 {
	min-height: 100%;
}

.maxh-100 {
	max-height: 100%;
}
